*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.headerText{
    background-image: url(https://images.ctfassets.net/hrltx12pl8hq/6TIZLa1AKeBel0yVO7ReIn/1fc0e2fd9fcc6d66b3cc733aa2547e11/weather-images.jpg);
    padding: 0 0 0 0;
}
.WeatherSUbTitle{
    text-align: center;
    margin-bottom: 2.5%;
}
.windsSubTitle{
    text-align: center;
    margin-bottom: 2.5%;
}
.TempBox{
    text-align: center;
}
.VideoContainer-Wrapper{
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1600px;
}
.VideoContainer-Wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(9, 2, 108, 0.15);
}
.VideoContainer-Wrapper video{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.TempOutput{
    display: inline;
    margin: 0;
    margin-right: -50%;
    text-align: center;
    position: absolute;
    font-weight: bold;
    font-size: 3rem;
    padding: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.35);
    border: #000 solid;
    border-radius: 10%;
}

.TempAverageArea{
    font-size: 1.5rem;
    text-align: center;
}
.PrecipAverageArea{
    font-size: 1.5rem;
    text-align: center;
}
.T-Max{

    color: #b00;
    align-items: center;
}
.T-Min{
    color: blue;
}

.TempText{
    text-align: center;
    margin-bottom: 2.5%;
}
.precipText{
    text-align: center;
    margin-bottom: 2.5%;
}
.preText{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.SectionBorder{
    border: 1px solid;
}
.SlideStyle{
    font-weight: bold;
}
#precipMorning{
    background-image: url(https://d3dtl2c4fx01rm.cloudfront.net/photos/members/kokusimusou/99f68ee4dee79efc23a149ff7f5c7098_3.jpg);
    background-position: 20%;
}
#precipNoon{
    background-image: url(https://img.freepik.com/premium-photo/fantasy-landscape-illustration-night-day-sunset-dawn-darkness-light_700453-2322.jpg);
    background-position: 40% 42%;
}
#precipNight{
    background-image: url(https://img.freepik.com/free-photo/fantasy-style-galaxy-background_23-2151114315.jpg);
    background-position: 0% 1%;
    color: #fff;
}
.AverageTitle{
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TempAverageText{ display: inline-block; }
.PrecipAverageText{ display: inline-block; }
.FujiwaraSoft{
    background-color: #000;
    text-align: center;
    display: block;
    color: #fff;
}

.footer{
    background-color: #000;
}
.Sponsors{
    text-align: center;
}
.SponsorsTitle{
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.ImageSponsors{
    mask-image: #fff;
}
.footerTitle{
    color: #fff;
    text-align: center;
}